/* This font need to replace, because it's not for free use! */
@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/segoeuil.eot');
    src: url('../fonts/segoeuil.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeuil.woff') format('woff'),
         url('../fonts/segoeuil.ttf') format('truetype'),
         url('../fonts/segoeuil.svg#segoeuil') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/segoeuii.eot');
    src: url('../fonts/segoeuii.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeuii.woff') format('woff'),
         url('../fonts/segoeuii.ttf') format('truetype'),
         url('../fonts/segoeuii.svg#segoeuii') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/segoeui.eot');
    src: url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeui.woff') format('woff'),
         url('../fonts/segoeui.ttf') format('truetype'),
         url('../fonts/segoeui.svg#segoeui') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* reset block */
html, body, div, span, object, blockquote, pre, p,
a, abbr, address, em, img, sub, sup, dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

p {margin: 0 0 15px; padding: 0;}

a {text-decoration: underline;cursor: pointer;color: #fff;}
	body.b-light a {color: #000;}
a:hover {color: #fff;text-decoration: none;}
	body.b-light a:hover {color: #000;}
a.dashed {text-decoration: none;border-bottom: 1px dashed}
a.dotted {text-decoration: none;border-bottom: 1px dotted}


b, strong {font-weight: bold;}
i, em {font-style: italic;}

:focus {outline: 0;}

ul {list-style: none;}

table {border-collapse: collapse; border-spacing: 0;}

.clear {clear: both;float: none;}
.hidden {display: none!important}
.nobr {white-space: nowrap;}
/* end of reset block */

html {margin:0px; padding:0px;height: 100%;}
body {margin:0px; padding:0px;height: 100%;}

body {position:relative;background: #fff;color: #29364a;font-size: 13px;line-height: 19px;font-family: 'SegoeUI',arial,sans-serif;}

h1 {font-weight: 200;text-transform: uppercase;font-size: 37px;line-height: 37px;padding: 25px 0 40px;margin: 0;}
h2 {font-weight: 200;text-transform: uppercase;font-size: 36px;line-height: 36px;padding: 20px 0 15px;margin: 0;}
h3 {font-weight: 200;text-transform: uppercase;font-size: 30px;line-height: 30px;padding: 20px 0 15px;margin: 0;}
p {margin-bottom: 15px;}

.l-wrapper {position: relative;height: 100%;min-width: 1040px;width: 100%;margin: 0 auto;}
.l-container {min-height: 100%;margin-bottom: -200px;position: relative;}
.l-ghost {height: 200px;}
.l-footer {height: 200px;overflow: hidden;background: #283447 url(../images/bg_footer.png) repeat-x 0 0;color: #c6d3e3;line-height: 16px;position: relative;}
	/*.l-i-footer {max-width: 1300px;padding: 0 4%;margin: 0 auto;}*/
	.l-i-footer {width: 960px;margin: 0 auto;}

.l-header {height: 29px;margin: 0;position: absolute;top: 0;width: 100%;min-width: 1040px;z-index: 10;}
.l-header {
	background: rgb(125,132,143); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkODQ4ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTdkOGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  rgba(125,132,143,1) 0%, rgba(117,125,138,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,132,143,1)), color-stop(100%,rgba(117,125,138,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(125,132,143,1) 0%,rgba(117,125,138,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(125,132,143,1) 0%,rgba(117,125,138,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(125,132,143,1) 0%,rgba(117,125,138,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(125,132,143,1) 0%,rgba(117,125,138,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d848f', endColorstr='#757d8a',GradientType=0 ); /* IE6-8 */
}
	/*.l-i-header {max-width: 1300px;padding: 0 4%;margin: 0 auto;}*/
	.l-i-header {width: 960px;margin: 0 auto;}

.l-content {background: url(../images/bg.jpg) no-repeat 50% 0;position: relative;padding: 40px 0 0;z-index: 1;}
	.bg1920 .l-content {background-image: url(../images/bg_1920.jpg);}
	.bg1600 .l-content {background-image: url(../images/bg_1600.jpg);}
	.bg1280 .l-content {background-image: url(../images/bg_1280.jpg);}
	/*.l-i-content {max-width: 1300px;padding: 0 4%;margin: 0 auto;}*/
	.l-i-content {width: 960px;margin: 0 auto;}

.b-mainmenu {font-size: 13px;line-height: 18px;text-transform: uppercase;float: left;}
	.b-mainmenu_item {padding: 6px 10px 5px;float: left;position: relative;}
		.b-mainmenu_item_selected {background: #a4a9b2;}
			.b-mainmenu_item_selected_tail {position: absolute;width: 8px;height: 4px;bottom: 0;left: 50%;margin: 0 0 -4px -4px;background: url(../images/sprite.png) no-repeat -49px -89px;}

		.b-mainmenu_item a {color: #fff;text-decoration: none;}

.b-contactphone {color: #ffffff;font-size: 18px;line-height: 18px;float: right;padding: 4px 0 0;}
	.b-contactphone_prefix {font-size: 12px;margin: 0 15px 0 0;}


.b-header {color: #ed056a;text-align: center;position: relative;padding: 25px 100px 40px 205px;}

.b-logo {position: absolute;top: 0;left: 8px;display: block;width: 160px;height: 89px;background: url(../images/sprite.png) no-repeat 0 0;text-decoration: none;}
	.b-logo_alt {visibility: hidden;}


.b-calendar {height: 291px;overflow: hidden;}
	.b-i-calendar {position: relative;overflow: hidden;height: 222px;}
		.b-i-i-calendar {position: relative;}

	.b-calendar_months {height: 40px;overflow: hidden;}
		.b-calendar_months_item {float: left;background: rgba(237, 30, 121, .2);font-size: 11px;line-height: 10px;margin: 0;padding: 15px 22px;}
		/*.b-calendar_months_item {background: url(../images/calendar-months-bg-inactive.png);}*/

			.b-calendar_months_item:last-child {padding-right: 27px;}
			.b-calendar_months_item_selected {background: rgba(255, 255, 255, .75);}
			/*.b-calendar_months_item_selected {background: url(../images/calendar-months-bg-active.png);}*/

		.b-calendar_months_item a {text-decoration: none;border-bottom: 1px dotted;}
			.b-calendar_months_item_selected a {text-decoration: none;border-bottom: none;color: #29364a;}

	.b-calendar_week {overflow: hidden;text-align: right;}
		.b-calendar_week_header {font-size: 11px;color: #29364a;}
			.b-calendar_week_header .b-calendar_week_day {border-right: 1px solid transparent;padding: 5px 10px;}
				.b-calendar_week_header .b-calendar_week_day:last-child {border-right: none;}
		
		.b-calendar_week:last-child .b-calendar_week_day {border-bottom: none;}

		.b-calendar_week_day {width: 113px;padding: 12px 10px 5px;float: left;position: relative;border-right: 1px solid #fff;border-bottom: 1px solid #fff;background: rgba(255, 255, 255, .75);cursor: pointer;}
			/*.b-calendar_week_day {background: url(../images/calendar-months-bg-active.png);}*/

			.b-calendar_week_day_inactive {cursor: default;color: #fff;}
			.b-calendar_week_day_other {background: rgba(255, 255, 255, .55);}

			.b-calendar_week_day:first-child {width: 133px;}
			.b-calendar_week_day:last-child {width: 116px;border-right: none;}
			.b-calendar_week_day_hover {background: #fff;}
			.b-calendar_week_day_selected {cursor: default;color: #fff;background: #ed1e79;font-weight: bold;}


			.b-calendar_week_day_caption {display: none;position: absolute;width: 70px;top: 7px;left: 10px;font-size: 10px;line-height: 11px;text-transform: uppercase;text-align: left;}
				.b-calendar_week_day_hover .b-calendar_week_day_caption {display: block;}
			.b-calendar_week_day_flight {display: none;position: absolute;width: 90px;overflow: hidden;top: 7px;left: 10px;font-size: 10px;line-height: 11px;text-transform: uppercase;text-align: left;white-space: nowrap;letter-spacing: -1px;}
				.b-calendar_week_day_selected .b-calendar_week_day_flight {display: block;}
				.b-calendar_week_day_selected .b-calendar_week_day_caption {display: none;}


.b-special {overflow: hidden;padding: 0 0 40px;}
	.b-special_item {display: block;position: relative;text-decoration: none;color: #29364a;padding: 10px;width: 200px;float: left;background: rgba(255, 255, 255, .5);margin: 0 25px 0 0;text-align: center;}
		/*.b-special_item {background: url(../images/special-bg.png);}*/

		.b-special_item:hover {color: #29364a;}
		.b-special_item:last-child {margin: 0;}

		.b-special_item_image {width: 200px;height: 160px;display: block;}
		.b-special_item_name {display: block;font-size: 13px;line-height: 14px;margin: 10px 0;}
		.b-special_item_stars {display: block;position: relative;height: 8px;line-height: 8px;width: 100%;}
			.b-special_item_stars i {display: inline-block;background: url(../images/sprite.png) no-repeat 0 -89px;height: 8px;}

			.b-special_item_stars_5 {width: 49px;}
			.b-special_item_stars_4 {width: 39px;}
			.b-special_item_stars_3 {width: 29px;}
			.b-special_item_stars_2 {width: 19px;}
			.b-special_item_stars_1 {width: 9px;}
		.b-special_item_hotel {display: block;font-size: 11px;text-transform: uppercase;}
		.b-special_item_price {display: block;width: 100%;left: 0;position: absolute;top: 135px;}
			.b-i-special_item_price {display: inline-block;white-space: nowrap;font-size: 14px;line-height: 12px;padding: 10px 10px 8px;color: #fff;text-shadow: 0 1px rgba(0, 0, 0, .20);top: 135px;}
				.b-i-special_item_price span {font-size: 12px;}
			.b-i-special_item_price {
				background: rgb(205,28,105); /* Old browsers */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkMWM2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U0MzE3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2VjMzg4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYzM4ODciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: -moz-linear-gradient(top,  rgba(205,28,105,1) 0%, rgba(228,49,127,1) 50%, rgba(236,56,135,1) 85%, rgba(236,56,135,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,28,105,1)), color-stop(50%,rgba(228,49,127,1)), color-stop(85%,rgba(236,56,135,1)), color-stop(100%,rgba(236,56,135,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(205,28,105,1) 0%,rgba(228,49,127,1) 50%,rgba(236,56,135,1) 85%,rgba(236,56,135,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(205,28,105,1) 0%,rgba(228,49,127,1) 50%,rgba(236,56,135,1) 85%,rgba(236,56,135,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(205,28,105,1) 0%,rgba(228,49,127,1) 50%,rgba(236,56,135,1) 85%,rgba(236,56,135,1) 100%); /* IE10+ */
				background: linear-gradient(top,  rgba(205,28,105,1) 0%,rgba(228,49,127,1) 50%,rgba(236,56,135,1) 85%,rgba(236,56,135,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd1c69', endColorstr='#ec3887',GradientType=0 ); /* IE6-8 */
			}

.b-about {width: 330px;padding: 0 10px 10px;background: url(../images/special-bg.png);height: 340px;position: relative;z-index: 3;}
	.b-about_content {padding: 0;background-image: none!important;}
	.b-about_fotorama {position: absolute;width: 100%;height: 350px;top: 0;left: 0;z-index: 2;}
	
	.b-about_more {color: #003d8c;font-size: 10px;text-transform: uppercase;text-decoration: none;border-bottom: 1px solid;}
		.b-about_more:hover {color: #003d8c;text-decoration: none;border-bottom: none;}
			
	.b-about_gallery {overflow: hidden;height: 120px;padding: 15px;margin: -15px 0 0 -15px;width: 100%;}
		.b-about_gallery_item {float: left;width: 90px;height: 90px;overflow: hidden;margin: 0 20px 40px 0;}		
			.b-about_gallery_item_selected {box-shadow: 0 0 15px rgba(0, 0, 0, .5)}
				.b-about_gallery_item_selected img {opacity: 0.5;}	
			
.b-links {display: block;}
	.b-links a {display: block;text-decoration: none;position: relative;}
						
	.b-twitter {float: left;margin: 40px 0 0;padding: 0 0 0 80px;width: 200px;}
		.b-twitter_icon {display: block;position: absolute;top: 0;left: 0;width: 64px;height: 45px;background: url(../images/sprite.png) no-repeat -160px 0;}
				
	.b-blog {float: left;margin: 40px 0 0 80px;padding: 7px 0 0 66px;width: 220px;}
		.b-blog_icon {display: block;position: absolute;top: -3px;left: 0;width: 45px;height: 53px;background: url(../images/sprite.png) no-repeat -160px -45px;}
	
	.b-appstore {float: right;margin: 40px 0 0 0;background: url(../images/sprite.png) no-repeat -224px 0;width: 142px;height: 46px;}
	.b-googleplay {float: right;margin: 40px 0 0 10px;background: url(../images/sprite.png) no-repeat -224px -46px;width: 138px;height: 46px;}
			
.b-copyrights {text-align: center;clear: both;padding: 45px 0 0;}			
			

.b-popup {width: 440px;padding: 10px;top: 150px;left: 50%;margin: 0 0 0 -230px;position: absolute;z-index: 1000;background: rgba(0, 0, 0, .2);}
/*.b-popup {background: url(../images/bg_popup.png);}*/
	.b-popup_content {background: #c6d3e3;border: 1px solid #8794a6;padding: 20px;}
		.b-popup_content_date {text-align: center;font-size: 15px;line-height: 16px;}
		.b-popup_content_date_caption {text-align: center;font-size: 9px;line-height: 11px;color: #374963;font-style: italic;text-transform: uppercase;}
		
		.b-popup_content_form {}
			.b-popup_content_form label {white-space: nowrap;margin-right: 20px;}
			.b-popup_content_form input[type="text"] {text-align: center;padding: 4px 8px 4px 6px;}
			.b-popup_content_form select {width: 160px;display: block;}
			.b-popup_content_form input[type="text"], .b-popup_content_form select {color: #29364a;font-size: 15px;line-height: 16px;border: 1px solid #748193;background: #fff;}
			
			.b-popup_content_form_fieldset {margin: 20px 0 0;text-align: left;}
				.b-popup_content_form_fieldset_center {text-align: center;}
			
				.b-popup_content_form_from {}
				.b-popup_content_form_direction {display: inline-block;margin: 0 15px;position: relative;top: 7px;width: 27px;height: 26px;background: url(../images/sprite.png) -69px -89px;}
				.b-popup_content_form_to {}
				.b-popup_content_form_days {width: 20px;}
				.b-popup_content_form_adult {width: 10px;}
				.b-popup_content_form_kid {width: 10px}
				.b-popup_content_form_submit {font-size: 16px;}
			
			.b-formfield {display: inline-block;padding: 3px;background: rgba(41, 54, 74, .2);background: url(../images/bg_formfield.png);}
			
	.b-popup_close {display: block;position: absolute;top: 21px;right: 21px;width: 12px;height: 10px;background: url(../images/sprite.png) no-repeat -57px -89px;}

			
			
